/* ------------------ colors ------------------- */

$clr-dark-blue-bg :#06283d;
$clr-text-white :#fff;
$clr-aqua-green :#31c6d4;
$clr-black-bg :#000;


/* --------------------- fonts ------------------ */
$font-cursive : 'Pacifico', cursive;