.header__top {
  background-color: #06283D;
  height: 3rem;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 0 2rem;
}

.header__working-hrs {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.header__top-workingHrs {
  margin-bottom: 0;
}

.header__logo {
  padding-left: 1rem;
  display: flex;
  gap: 10px;
  height: 45px;
  padding-top: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.header__bottom {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 0.2rem;
  font-size: 0.9rem;
}

.header__navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  font-size: 1rem;
  color: #06283D;
  padding-top: 5px;
}

.schedule {
  color: #fff;
  background-color: #06283D;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: auto;
}

