@use '../../sass/abstracts/variables';

.header__top {
  background-color: variables.$clr-dark-blue-bg;
  height: 3rem;
  color: variables.$clr-text-white;
  text-transform: uppercase;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
  font-size: 0.8rem;
  padding: 0 2rem;
  letter-spacing: 1px;
}

.header__top-cell:hover {
  color: variables.$clr-text-white;
}

.header__working-hrs {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.header__links {
  padding-top: 15px;
  font-weight: bolder;
  font-size: 1rem;
}

.header__link {
  color: variables.$clr-aqua-green;
  padding-right: 10px;
  text-transform: uppercase;
  &:hover {
    color: variables.$clr-dark-aqua-text;
  }
}

.header__top-workingHrs {
  margin-bottom: 0;
}

.header__bottom {
  height: 55px;  // header height readjusted
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 0.2rem;
  font-size: 0.9rem;
}

.header__logo {
  padding-left: 1rem;
  display: flex;
  gap: 10px;
  height: 45px;
  padding-top: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.menu__button {
  display: none;
}

.socials__nav {
  display: none;
}

.header__bottom .header__main #hidden {
  display: flex;
}

@media screen and (max-width: 1020px) {
  .menu__button {
    display: flex;
    border: none;
    outline: none;
    background: none;
    padding: 15px;
    padding-right: 0;
    font-size: 2rem;
  }

  .header__top {
    display: none;
  }

  .header__links {
    display: none;
  }

  .socials__nav {
    display: flex;
    justify-content: center;
  }

  .header__bottom .header__main #hidden {
    position: absolute;
    top: 55px;
    right: 0;
    width: 100%;
    height: 92vh;
    z-index: 200;
    background-color: rgb(44, 62, 80, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .header__bottom .header__main #hidden .header__link {
    padding-bottom: 1.7rem;
    font-size: 1.1rem;
  }

  .social_nav-icon {
    font-size: 2.3rem;
    margin: 0.5rem;
    text-align: center;
    &:hover {
      color: variables.$clr-aqua-green;
    }
  }
}
